body{
    background: rgb(251, 251, 251);
    margin: 0;
    padding-top:60px;
}

.left, .right{
    float: left;
    width: 46%;
    height: 600px;
    padding: 20px;
}

.left{
    background: rgb(212, 211, 211);
}

.right{
    background: rgb(206, 205, 205);
}

.item-name {
    color: #000;
    font-weight: 500;
}

.item-code {
    color : #AAA;
}

input{
    height: 40px;
}
button{
    height:40px;
}

.quantity{
    width: 50px;
    color: brown;
}

.plus-button:hover {
    border: 1px solid green;
    background: green;
    color: white;
}

.minus-button:hover {
    border: 1px solid red;
    background: red;
    color: white;
}

.plus-button {
    border: 1px solid green;
    background: white;
    color: green;
}

.minus-button {
    border: 1px solid red;
    background: white;
    color: red;
}