body{
    background: rgb(244, 244, 244);
    margin: 0;
}

.item-type{
    margin-bottom: 10px;
    /* border:1px dotted blue; */
    padding:20px 15px 12px 25px;
    border-radius: 15px;
    background:rgb(221, 218, 218);
}

.items {
    display: none;
}
.item-category {
    color:rgb(20, 2, 100);
    font-weight: 500;
}

.item-name {
    color: #000;
    font-weight: 500;
}

.item-code {
    color : #AAA;
}

input{
    height: 40px;
}
button{
    height:40px;
}

.quantity{
    width: 50px;
    color: brown;
}

.plus-button:hover {
    border: 1px solid green;
    background: green;
    color: white;
}

.minus-button:hover {
    border: 1px solid red;
    background: red;
    color: white;
}

.plus-button {
    border: 1px solid green;
    background: white;
    color: green;
}

.minus-button {
    border: 1px solid red;
    background: white;
    color: red;
}